:root {
  --layout-page-inline: var(--spacing-6);
  --layout-page-stack: var(--spacing-8);
  --layout-page-padding-bottom: var(--spacing-16);
}

@media (--tablet-max) {
  :root {
    --layout-page-inline: var(--spacing-4);
    --layout-page-stack: var(--spacing-6);
    --layout-page-padding-bottom: var(--spacing-12);
  }
}

@media (--mobile) {
  :root {
    --layout-page-inline: var(--spacing-4);
    --layout-page-stack: var(--spacing-6);
    --layout-page-padding-bottom: var(--spacing-12);
  }
}
