:root {
  --base-white: #ffffff;
  --base-gray-100: #f2f4f7;
  --base-gray-200: #eaecf0;
  --base-gray-400: #98a2b3;
  --base-gray-300: #d0d5dd;
  --base-gray-500: #667085;
  --base-gray-600: #475467;
  --base-gray-700: #344054;
  --base-gray-900: #101828;
  --base-green-100: #edfcf2;
  --base-green-300: #73e2a3;
  --base-green-400: #12b76a;
  --base-green-800: #087443;
  --base-red-300: #fda29b;
  --base-green-200: #d1fadf;
  --base-red-500: #f04438;
  --base-green-700: #099250;
  --base-radius-3: 18px;
  --base-radius-2: 12px;
  --base-radius-1: 6px;
  --base-radius-0: 0px;
  --spacing-12: 48px;
  --spacing-13-5: 54px;
  --spacing-10: 40px;
  --spacing-0: 0px;
  --spacing-8: 32px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-24: 96px;
  --spacing-3: 12px;
  --spacing-3-5: 14px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-6: 24px;
  --spacing-20: 80px;
  --spacing-16: 64px;
  --base-radius-full: 9999px;
  --bp-mobile: 0px;
  --bp-tablet: 768px;
  --bp-desktop: 1024px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --line-height-20: 20px;
  --line-height-24: 24px;
  --line-height-28: 28px;
  --line-height-34: 34px;
  --font-size-48: 48px;
  --line-height-60: 60px;
  --font-size-36: 36px;
  --line-height-44: 44px;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --letter-spacing-normal: 0.53px;
  --letter-spacing-tight: 0.3px;
  --spacing-7: 28px;
  --spacing-4-5: 18px;
  --spacing-2-5: 10px;
  --base-red-200: #fee4e2;
  --base-green-900: #005c2b;
}

.light {
  --bg-page: var(--base-white);
  --bg-surface: var(--base-gray-100);
  --bg-subtle: var(--base-white);
  --bg-muted: var(--base-gray-300);
  --bg-accent: var(--base-green-100);
  --text-primary: var(--base-gray-900);
  --text-secondary: var(--base-gray-500);
  --text-disabled: var(--base-gray-400);
  --text-error: var(--base-red-500);
  --border-default: var(--base-gray-300);
  --border-focus: var(--base-green-300);
  --border-error: var(--base-red-300);
  --action-primary: var(--base-green-800);
  --action-primary-hover: var(--base-green-900);
  --action-primary-active: var(--base-green-700);
  --action-primary-disabled: var(--base-gray-300);
  --action-secondary: var(--base-white);
  --action-secondary-hover: var(--base-white);
  --action-secondary-active: var(--base-white);
  --action-secondary-disabled: var(--base-white);
  --radius-xs: var(--base-radius-1);
  --radius-sm: var(--base-radius-1);
  --radius-md: var(--base-radius-2);
  --radius-lg: var(--base-radius-3);
  --radius-full: var(--base-radius-full);
  --text-accent: var(--base-gray-600);
  --text-on-accent: var(--base-white);
  --icon-primary: var(--base-green-800);
  --icon-secondary: var(--base-gray-700);
  --icon-on-accent: var(--base-white);
  --icon-success: var(--base-green-400);
  --bg-success-soft: var(--base-green-200);
  --text-label: var(--base-gray-700);
  --text-hint: var(--base-gray-600);
  --state-neutral-strong: var(--base-gray-900);
  --state-neutral-soft: var(--base-gray-900);
  --font-size-body: var(--font-size-18);
  --line-height-body: var(--line-height-28);
  --font-size-text-sm: var(--font-size-14);
  --line-height-text-sm: var(--line-height-20);
  --font-size-text-md: var(--font-size-16);
  --line-height-text-md: var(--line-height-24);
  --font-size-text-lg: var(--font-size-18);
  --line-height-text-lg: var(--line-height-28);
  --font-size-heading-md: var(--font-size-36);
  --line-height-heading-md: var(--line-height-44);
  --font-size-heading-lg: var(--font-size-48);
  --line-height-heading-lg: var(--line-height-60);
  --weight-heading-lg: var(--font-weight-semibold);
  --weight-heading-md: var(--font-weight-semibold);
  --letter-spacing-heading-lg: var(--letter-spacing-normal);
  --letter-spacing-heading-md: var(--letter-spacing-tight);
  --weight-body: var(--font-weight-regular);
  --weight-text-md: var(--font-weight-semibold);
  --weight-text-lg: var(--font-weight-semibold);
}
