.root {
  display: flex;
  align-items: center;
}

.dotsLayout {
  gap: var(--spacing-1);
}

.segmentsLayout {
  gap: var(--spacing-2);
}

.dot {
  border-radius: var(--radius-xs);
  background-color: var(--base-gray-900);
  opacity: 0.24;
}

.dotItem {
  width: var(--spacing-2);
  height: var(--spacing-2);
}

.segmentItem {
  width: var(--spacing-8);
  height: var(--spacing-2);
}

.dotActive {
  opacity: 1;
}
