.page {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}

@media (--tablet) {
  .page {
    gap: var(--spacing-10);
  }
}

@media (--mobile) {
  .page {
    gap: var(--spacing-8);
  }
}
