.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  flex-shrink: 0;
}

@media (--mobile) {
  .logo {
    height: var(--spacing-8);
    width: auto;
  }
}
