.root {
  width: min(1120px, calc(100% - 2 * var(--spacing-6)));
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  padding: var(--spacing-8) 0 var(--spacing-16);
}

.page {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}

@media (--tablet) {
  .root {
    gap: var(--spacing-7);
  }

  .page {
    gap: var(--spacing-10);
  }
}

@media (--mobile) {
  .root {
    width: min(1120px, calc(100% - 2 * var(--spacing-4)));
    gap: var(--spacing-6);
    padding: var(--spacing-6) 0 var(--spacing-12);
  }

  .page {
    gap: var(--spacing-8);
  }
}
