.card {
  height: 100%;
  min-height: 280px;
}

.loader {
  margin: auto;
  width: 100%;
  max-width: 320px;
  height: auto;
}

.footer {
  justify-content: flex-end;
}

@media (--tablet) {
  .footer {
    justify-content: flex-start;
  }
}

@media (--mobile) {
  .card {
    min-height: 260px;
  }

  .loader {
    max-width: 240px;
  }
}
